<ons-page modifier="shop-details" on-device-backbutton="app.navigator.popPage()" ng-controller="publicacionCtrl">
    <ons-toolbar>
        <div class="right">

        </div>
        <div class="center">
            <div ons-if-orientation="portrait">
                {{getPublicacionSeleccionada().titulo.toUpperCase().substring(0, 8)}}...
            </div>
            <div ons-if-orientation="landscape">
                {{getPublicacionSeleccionada().titulo.toUpperCase()}}
            </div>
        </div>
        <div class="left">
            <ons-toolbar-button ng-click="app.navigator.popPage()">
                <ons-icon icon="ion-arrow-left-c" style="font-size: 28px;" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>

    <div class="card">
        <ons-carousel style="text-align: center; height: 250px; width: 100%; margin-top: 50px;" swipeable overscrollable auto-scroll>
            <ons-carousel-item ng-repeat="foto in getPublicacionSeleccionada().imagenCollection">
                <img alt="" src="http://www.worklife.com.ar/wl/web/javax.faces.resource/publi/{{foto.url}}?ln=img">
            </ons-carousel-item>
        </ons-carousel>
    </div>

    <div class="rating">
        <div class="rating-num">
            $ {{getPublicacionSeleccionada().precio}}
        </div>
    </div>

    <ons-list style="border-top: none"><ons-list-item style="line-height: 1; padding: 0;">
            <ons-row class="action">


                <ons-col class="action-col" 
                         ng-controller="usuarioCtrl"
                         ng-click="eliminarPublicacionUsuario()"
                         ng-show="(isLogueado() && (getIdUsuarioLogueado() === getPublicacionSeleccionada().idUsuario.idUsuario))">
                    <div class="action-icon" style="color: red"><ons-icon icon="ion-close-round"></ons-icon></div>
                    <div class="action-label" style="color: red">Eliminar</div>
                </ons-col>

                <ons-col class="action-col" ng-click="comentarios()">
                    <div class="action-icon" style="color: blue">
                        <ons-icon icon="ion-chatboxes"></ons-icon>
                            <span ng-show="getComentariosPublicacionSinRespuesta(getPublicacionSeleccionada().comentarioCollection) !== 0">
                                <span class="notification" style="font-size: 12px">{{getComentariosPublicacionSinRespuesta(getPublicacionSeleccionada().comentarioCollection)}}</span>
                            </span>
                    </div>
                    <div class="action-label" style="color: blue">Preguntas</div>
                </ons-col>

                <ons-col class="action-col" ng-click="mostrarDescripcion()">
                    <div class="action-icon"><ons-icon icon="ion-clipboard" style="color: blue"></ons-icon></div>
                    <div class="action-label" style="color: blue">Descripcion</div>
                </ons-col>

                <ons-col class="action-col" 
                         ng-click="registrarContratacion()" 
                         ng-show="(isLogueado() && (getIdUsuarioLogueado() !== getPublicacionSeleccionada().idUsuario.idUsuario))">
                    <div class="action-icon"><ons-icon icon="ion-share" style="color: blue"></ons-icon></div>
                    <div class="action-label" style="color: blue">Contactar</div>
                </ons-col>

                <ons-col class="action-col" 
                         ng-controller="usuarioCtrl"
                         ng-click="republicarPublicacionUsuario()"
                         ng-show="(isLogueado() && (getIdUsuarioLogueado() === getPublicacionSeleccionada().idUsuario.idUsuario) && (getPublicacionSeleccionada().fechaFinPublicacion !== null))">
                    <div class="action-icon" style="color: blue"><ons-icon icon="ion-loop"></ons-icon></div>
                    <div class="action-label" style="color: blue">Republicar</div>
                </ons-col>

                <ons-col class="action-col"
                         ng-controller="usuarioCtrl"
                         ng-click="finalizarPublicacionUsuario()"
                         ng-show="(isLogueado() && (getIdUsuarioLogueado() === getPublicacionSeleccionada().idUsuario.idUsuario) && (getPublicacionSeleccionada().fechaFinPublicacion === null))">
                    <div class="action-icon" style="color: red"><ons-icon icon="ion-alert"></ons-icon></div>
                    <div class="action-label" style="color: red">Finalizar</div>
                </ons-col>


            </ons-row>
        </ons-list-item>
    </ons-list>

    <ons-list style="margin-top: 12px;">
        <ons-list-item modifier="chevron" ng-click="mostrarUbicacion()">
            <div class="prop-desc">
                <i class="fa fa-map-marker"></i> 
                {{getPublicacionSeleccionada().idLocalidad.localidad}}, {{getPublicacionSeleccionada().idLocalidad.idDepartamento.idProvincia.provincia}}
            </div>
        </ons-list-item>

        <ons-list-item>
            <div class="prop-desc">
                <i class="fa fa-database"></i> 
                {{getPublicacionSeleccionada().idFormaCobro.formaCobro}}
            </div>
        </ons-list-item>

        <ons-list-item ng-show="(getPublicacionSeleccionada().DisponibilidadHoraria)">
            <div class="prop-desc">
                <i class="fa fa-history"></i>
                SOS 24hs
            </div>
        </ons-list-item>
        <ons-list-item>
            <div class="prop-desc">
                <i class="fa fa-briefcase"></i>
                {{getPublicacionSeleccionada().idPrestacion.prestacion}}
            </div>
        </ons-list-item>

        <ons-list-item>
            <div class="prop-desc">
                <i class="fa fa-usd"></i>
                <span ng-repeat="mp in getPublicacionSeleccionada().medioPagoCollection">
                    {{mp.medioPago}}{{$last===false?', ':''}}
                </span>
            </div>
        </ons-list-item>

        <ons-list-item>
            <div class="prop-desc">
                <i class="fa fa-check-circle-o"></i>
                {{getPublicacionSeleccionada().garantia}}
            </div>
        </ons-list-item>

        <ons-list-item ng-show="getPublicacionSeleccionada().matricula !== null">
            <div class="prop-desc">
                <i class="fa fa-graduation-cap"></i>
                {{getPublicacionSeleccionada().matricula}}
            </div>
        </ons-list-item>


    </ons-list>

</ons-page>
